version: 2
services:
  bookbag:
    image: quay.io/openshifthomeroom/workshop-dashboard:5.0.0
    container_name: bookbag
    hostname: bookbag
    restart: always
    ports:
     - '10080:10080'
    volumes:
    - '/opt/podman/{{ __bookbag_pod.name }}-pod/volumes/workshop:/opt/app-root/workshop:Z'
    - '/opt/podman/{{ __bookbag_pod.name }}-pod/volumes/slides:/opt/app-root/slides:Z'
    - '/opt/podman/{{ __bookbag_pod.name }}-pod/volumes/.ssh:/opt/app-root/src/.ssh:Z'
    - '/opt/podman/{{ __bookbag_pod.name }}-pod/volumes/envvars:/opt/app-root/envvars:Z'
    environment:
      - 'AUTH_USERNAME={{ __bookbag_pod_username }}'
      - 'AUTH_PASSWORD={{ __bookbag_pod_password }}'
      - 'WORKSHOP_VARS={{ lookup('file', '/opt/podman/{{ __bookbag_pod.name }}-pod/workshop-vars.json') }}'
